.form-container {
	background-color: white;
	padding: 1rem;
	margin: 5rem auto 2rem;
	max-width: 650px;
	border-radius: 0.6rem;
}

form {
	width: 100%;
}

.form-group {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.form-group label {
	margin-bottom: 0.4rem;
	font-weight: bold;
}

button {
	background-color: darkslateblue;
	padding: 0.3rem 0.5rem;
	color: white;
	font-size: 0.9rem;
	border: none;
	cursor: pointer;
}
